<!-- Contenedor principal -->
<div class="bg-[#2c2c2c] text-white h-full w-full p-10 flex flex-col gap-10" style="box-sizing: border-box; max-height: 100vh;">

  <!-- Encabezado -->
  <div class="flex justify-between items-center">
    <h1 class="text-4xl font-bold text-yellow-400">Facturas</h1>

    <div class="flex gap-2 items-center">
      <!-- Botón Volver -->
      <a routerLink="/">
        <button type="button"
          class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold px-4 py-2 rounded-md transition">
          Volver
        </button>
      </a>

      <!-- Botón Modal -->
      <button type="button"
        class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold px-4 py-2 rounded-md transition"
        data-bs-toggle="modal" data-bs-target="#modalNuevaFactura">
        Registrar Factura
      </button>

      <!-- Input de búsqueda -->
      <input type="text" [(ngModel)]="searchId" placeholder="Buscar por Nº de Factura"
        class="bg-white text-black border border-gray-400 rounded-md px-4 py-2 w-64 outline-none" />

      <!-- Botón Buscar -->
      <button (click)="buscarPorId()"
        class="bg-yellow-400 hover:bg-yellow-500 text-black px-4 py-2 rounded-md transition duration-300">
        Buscar
      </button>
    </div>
  </div>

  <!-- Tabla de facturas -->
  <div class="overflow-x-auto rounded-xl  shadow-lg border border-gray-600 bg-[#1e1e1e]" style="color: white;">
    <table class="min-w-full divide-y ">
      <thead>
        <tr
          class="bg-gradient-to-r from-yellow-600 via-yellow-500 to-yellow-600 text-black text-sm uppercase tracking-wider">
          <th class="px-6 py-4 text-left">Nº Factura</th>
          <th class="px-6 py-4 text-left">Fecha</th>
          <th class="px-6 py-4 text-left">Código Cliente</th>
          <th class="px-6 py-4 text-left">Fecha Cancelación</th>
          <th class="px-6 py-4 text-left">Estado</th>
          <th class="px-6 py-4 text-left">Código Vendedor</th>
          <th class="px-6 py-4 text-left">% IGV</th>
          <th class="px-6 py-4 text-left">Editar</th>
          <th class="px-6 py-4 text-left">Eliminar</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-600 text-sm" style="color: white;">
        @for (fact of facturas; track fact.NUM_FAC) {
        <tr class="hover:bg-[#2e2e2e] transition duration-200">
          <td class="px-6 py-3">{{ fact.NUM_FAC }}</td>
          <td class="px-6 py-3">{{ fact.FEC_FAC_FORMAT}}</td>
          <td class="px-6 py-3">{{ fact.COD_CLI }}</td>
          <td class="px-6 py-3">{{ fact.FEC_CAN_FORMAT}}</td>
          <td class="px-6 py-3">{{ fact.EST_FAC }}</td>
          <td class="px-6 py-3">{{ fact.COD_VEN }}</td>
          <td class="px-6 py-3">{{ fact.POR_IGV }}%</td>

          <td class="px-4 py-3">
            <button class="btn btn-warning" (click)=" toggleEditFactura(fact.NUM_FAC)" data-bs-toggle="modal"
              data-bs-target="#modalEditarFactura">
              <i class="bi bi-pencil-square"></i>
            </button>
          </td>
          <td class="px-4 py-3">
            <button class="btn btn-danger" (click)="deleteFacturaEntry(fact.NUM_FAC)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>


  <div class="modal fade text-black" id="modalNuevaFactura" tabindex="-1" aria-labelledby="modalNuevaFacturaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content rounded-lg">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalNuevaFacturaLabel">Nueva Factura</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <form class="card p-2" (ngSubmit)="crearFactura()" [formGroup]="facturaForm">
            <div class="mb-3">
              <label class="form-label">Nº Factura</label>
              <input type="text" class="form-control" formControlName="NUM_FAC" placeholder="Número de factura">
            </div>
            <div class="mb-3">
              <label class="form-label">Fecha</label>
              <input type="date" class="form-control" formControlName="FEC_FAC">
            </div>
            <div class="mb-3">
              <label class="form-label">Código Cliente</label>
              <input type="text" class="form-control" formControlName="COD_CLI" placeholder="Código del cliente">
            </div>
            <div class="mb-3">
              <label class="form-label">Fecha Cancelación</label>
              <input type="date" class="form-control" formControlName="FEC_CAN">
            </div>
            <div class="mb-3">
              <label class="form-label">Estado</label>
              <input type="text" class="form-control" formControlName="EST_FAC" placeholder="Estado de la factura">
            </div>
            <div class="mb-3">
              <label class="form-label">Código Vendedor</label>
              <input type="text" class="form-control" formControlName="COD_VEN" placeholder="Código del vendedor">
            </div>
            <div class="mb-3">
              <label class="form-label">% IGV</label>
              <input type="number" step="0.01" class="form-control" formControlName="POR_IGV"
                placeholder="Porcentaje IGV">
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="modalEditarFactura" tabindex="-1" aria-labelledby="modalEditarFacturaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form (ngSubmit)="updateFacturaEntry()" [formGroup]="facturaForm">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarFacturaLabel">Editar Factura</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="NUM_FAC" class="form-label">Nº Factura</label>
            <input type="text" class="form-control" id="NUM_FAC" formControlName="NUM_FAC" readonly>
          </div>
          <div class="mb-3">
            <label for="FEC_FAC" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="FEC_FAC" formControlName="FEC_FAC">
          </div>
          <div class="mb-3">
            <label for="COD_CLI" class="form-label">Código Cliente</label>
            <input type="text" class="form-control" id="COD_CLI" formControlName="COD_CLI">
          </div>
          <div class="mb-3">
            <label for="FEC_CAN" class="form-label">Fecha Cancelación</label>
            <input type="date" class="form-control" id="FEC_CAN" formControlName="FEC_CAN">
          </div>
          <div class="mb-3">
            <label for="EST_FAC" class="form-label">Estado</label>
            <input type="text" class="form-control" id="EST_FAC" formControlName="EST_FAC">
          </div>
          <div class="mb-3">
            <label for="COD_VEN" class="form-label">Código Vendedor</label>
            <input type="text" class="form-control" id="COD_VEN" formControlName="COD_VEN">
          </div>
          <div class="mb-3">
            <label for="POR_IGV" class="form-label">% IGV</label>
            <input type="number" step="0.01" class="form-control" id="POR_IGV" formControlName="POR_IGV">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


  <!-- Botón Ver Todos -->
  <div class="flex justify-end">
    <button (click)="getFacturas()"
      class="bg-yellow-400/60 hover:bg-yellow-500 text-black px-4 py-2 rounded-lg transition hover:scale-105 hover:underline">
      Ver todas las facturas
    </button>
  </div>



</div>