<div class="flex flex-col justify-center items-center h-screen w-screen gap-10">
  <h1 class="text-6xl font-bold leading-none h-fit">
    Proyecto Final Base De Datos
  </h1>

  <div class="flex justify-center items-center gap-4 w-full">
    <a
      routerLink="/cliente"
      class="text-2xl cursor-pointer bg-neutral-100 px-4 py-2 rounded-xl hover:scale-105 transition-all"
    >
      Cliente
    </a>
    <a
      routerLink="/detalleFactura"
      class="text-2xl cursor-pointer bg-neutral-700 px-4 py-2 rounded-xl hover:scale-105 transition-all"
    >
      Detalle factura
    </a>
    <a
      routerLink="/producto"
      class="text-2xl cursor-pointer bg-neutral-700 px-4 py-2 rounded-xl hover:scale-105 transition-all"
    >
      Producto
    </a>
    <a
      routerLink="/factura"
      class="text-2xl cursor-pointer bg-neutral-700 px-4 py-2 rounded-xl hover:scale-105 transition-all"
    >
      Factura
    </a>
  </div>
</div>